<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title }) %>
  </head>
  <body>
    <%- include('partials/header') %>
    <%- include('partials/flash') %>

    <main class="container">
      <%- body %>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
